// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary         = #42a5f5
$primary-light   = #80d6ff
$primary-dark    = #0077c2
$secondary       = #7b1fa2
$secondary-light = #ae52d4
$secondary-dark  = #4a0072
$accent          = #de2828

$dark            = #000000

$positive        = #388e3c
$negative        = #b71c1c
$info            = #fdd835
$warning         = #e65100
